@model Smartstore.CustomDashboard.Models.ConfigurationModel

@{
    Layout = "_ConfigureModule";
}

<widget target-zone="admin_button_toolbar_before">
    <button type="submit" name="save" class="btn btn-warning" value="save">
        <i class="fa fa-check"></i>
        <span>@T("Admin.Common.Save")</span>
    </button>
</widget>

<form asp-action="Configure" autocomplete="off">
    <div asp-validation-summary="All"></div>

    <div class="adminContent">
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="Enabled" />
            </div>
            <div class="adminData">
                <setting-editor asp-for="Enabled" />
            </div>
        </div>

        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="IncompleteOrdersPosition" />
            </div>
            <div class="adminData wide">
                <setting-editor asp-for="IncompleteOrdersPosition" />
                <span asp-validation-for="IncompleteOrdersPosition"></span>
            </div>
        </div>

        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="PaymentsPosition" />
            </div>
            <div class="adminData wide">
                <setting-editor asp-for="PaymentsPosition" />
                <span asp-validation-for="PaymentsPosition"></span>
            </div>
        </div>

        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="LastContactsPosition" />
            </div>
            <div class="adminData wide">
                <setting-editor asp-for="LastContactsPosition" />
                <span asp-validation-for="LastContactsPosition"></span>
            </div>
        </div>

        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="NewsFeedPosition" />
            </div>
            <div class="adminData wide">
                <setting-editor asp-for="NewsFeedPosition" />
                <span asp-validation-for="NewsFeedPosition"></span>
            </div>
        </div>

        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="BestsellersPosition" />
            </div>
            <div class="adminData wide">
                <setting-editor asp-for="BestsellersPosition" />
                <span asp-validation-for="BestsellersPosition"></span>
            </div>
        </div>

        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="TopCustomersPosition" />
            </div>
            <div class="adminData wide">
                <setting-editor asp-for="TopCustomersPosition" />
                <span asp-validation-for="TopCustomersPosition"></span>
            </div>
        </div>

        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="CustomerRegistrationsPosition" />
            </div>
            <div class="adminData wide">
                <setting-editor asp-for="CustomerRegistrationsPosition" />
                <span asp-validation-for="CustomerRegistrationsPosition"></span>
            </div>
        </div>

        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="LatestOrdersPosition" />
            </div>
            <div class="adminData wide">
                <setting-editor asp-for="LatestOrdersPosition" />
                <span asp-validation-for="LatestOrdersPosition"></span>
            </div>
        </div>

        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="StoreStatisticsPosition" />
            </div>
            <div class="adminData wide">
                <setting-editor asp-for="StoreStatisticsPosition" />
                <span asp-validation-for="StoreStatisticsPosition"></span>
            </div>
        </div>
    </div>
</form>