.report-incomplete-orders {
    grid-column: 1/11;
}

.report-incomplete-orders .incomplete-orders-chart-container {
    height: 100px;
}

.news-feed {
    grid-column: 11/13;
    grid-row: 2/6;
}

.report-orders {
    grid-column: 1/8;
}

.report-bestsellers {
    grid-column: 8/11;
    grid-row: 2/3;
}

.report-payments {
    grid-column: 7/11;
    grid-row: 4/5;
}

.report-last-contacts {
    grid-column: 1/7;
    grid-row: 5/6;
}

.report-top-customers {
    grid-column: 1/4;
}

.report-customer-registrations {
    grid-column: 4/11;
    grid-row: 3/4;
}

.report-latest-orders {
    grid-column: 1/7;
    grid-row: 4/5;
}

.report-store-statistics {
    grid-column: 7/11;
    grid-row: 5/6;
}
