@model List<Smartstore.Stats.Payment.Components.ContactEmail>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Email</th>
            <th>Datum</th>
            <th>Aktion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Email</td>
                <td>@item.CreatedOn.ToLocalTime().ToString("g")</td>
                <td>
                    <a href="mailto:@item.Email">
                        <i class="fas fa-envelope"></i> <!-- oder Outlook-Icon -->
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
